<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>员工信息展示</title>
    <script type="text/javascript" src="../static/js/axios.js"></script>
    <script type="text/javascript" src="../static/js/jquery-2.1.0.js"></script>
</head>
<body>
    <div style="text-align: center">
        <div>
            <label>请输入所要查询的员工号：</label>
            <input id="usercode"></input>
            <button onclick="serch();">查询</button>
        </div>
            <div id="table">
            </div>
        </div>

</body>
<script>
    function serch() {
        var code = document.getElementById("usercode").value;
        console.log(code);
        axios.get("http://localhost:8080/showemployee",{
            params:{
                usercode:code,
            }
        }).then((res) => {
            console.log(res.data.usercoed);
            var userdata = res.data;
            var html = "<table>" +
                "<tr>" +
                        "<th>员工编号</th><th>员工姓名</th><th>所属部门</th>"+
                "</tr>"+
                 "<tr>" +
                        "<td>"+res.data.usercode+"</td>"+
                        "<td>"+res.data.username+"</td>"+
                        "<td>"+res.data.department+"</td>"+
                "</tr>"+
                "</table>";
            $("#table").html(html)
    }).catch((err) => {
            console.log(err);
    })
    }
</script>
</html>